.container-fluid {
    position: relative;
    text-align: center;
    color: white;
  }
.centered, .first {
    color: black;
    text-transform: uppercase; 
    text-shadow: 10px 10px 10px black;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
ul li{
    text-transform: uppercase;
    font-weight: bold;
}
